<div id="header__container">
    <div id="logo__container" >        
           <small id="logo">Logo</small>        
    </div>
    <div #main__menu id="main__menu">
        <div class="main__menu_items">
            <div class="main__menu_items__img"><i class='bx bx-volume-full'></i></div>           
            <span class="main__menu_items__span">39</span>
        </div>
        <div class="main__menu_items">
            <div class="main__menu_items__img"><i class='bx bx-mail-send'></i></div> 
            <span class="main__menu_items__span">57</span>
        </div>
        <div class="main__menu_items">
            <div class="main__menu_items__img"><i class='bx bx-message-alt-detail' ></i></div> 
            <span class="main__menu_items__span">68</span>
        </div>
        <div class="main__menu_items">
            <div class="main__menu_items__img"><i class='bx bx-message-check'></i></div> 
            <span class="main__menu_items__span">15</span>
        </div>
        <div class="main__menu_items">
            <div class="main__menu_items__img"><i class='bx bx-phone-call'></i></div> 
            <span class="main__menu_items__span">58</span>
        </div>
        <div class="main__menu_items">
            <div class="main__menu_items__img"><i class='bx bx-mobile-vibration'></i></div> 
            <span class="main__menu_items__span">15</span>
        </div>
        <div class="main__menu_items">
            <div class="main__menu_items__img"><i class='bx bx-cog'></i></div>             
        </div>
        <div  id="person" class="main__menu_items" >
            <div  class="main__menu_items__img"><i class='bx bx-user'></i>Salir</div>            
        </div>
    </div>
    <div id="btn__menu__deploy__container">
        <button (click)="deployMenu()" #btn__menu__deploy id="btn__menu__deploy"><i class='bx bx-menu'></i></button>
    </div>
    

</div>