<div id="sidebar__container">
    <div id="sidebar__list">
        <div class="sidebar__items">            
            <i class='bx bx-trip sidebar__icon'></i>
            <div class="sidebar__text__container">
                <small class="sidebar__text">Dashboard</small>
            </div>          
        </div>

        <div class="sidebar__items active">            
            <i class='bx bx-volume-full sidebar__icon'></i>
            <div class="sidebar__text__container">
                <small class="sidebar__text">Campañas</small>
            </div>          
        </div>

        <div class="sidebar__items">     
            <i class='bx bx-group sidebar__icon' ></i>           
            <div class="sidebar__text__container">
                <small class="sidebar__text">Pacientes</small>
            </div>          
        </div>

        <div class="sidebar__items">           
            <i class='bx bx-mobile-alt sidebar__icon'></i>          
            <div class="sidebar__text__container">
                <small class="sidebar__text">Programas</small>
            </div>          
        </div>

        <div class="sidebar__items">                
            <i class='bx bx-map-pin sidebar__icon'></i>                     
            <div class="sidebar__text__container">
                <small class="sidebar__text">Monitoreo</small>
            </div>          
        </div>


        <div class="sidebar__items">            
            <i class='bx bx-bar-chart-alt sidebar__icon'></i> 
            <div class="sidebar__text__container">
                <small class="sidebar__text">Reportes y Estadisticas</small>
            </div>
            
        </div>
    </div>    
</div>

