@mixin displayStyle($tipo,$justifyContent){
    display:$tipo;
    justify-content: $justifyContent;         
}
#main_campanhas__Container{
    width: 90%;
    margin: auto;          
    .borderBotton{
        border-bottom: 1px solid #9088887d;
    }   
 
     
}
#btn__add__camphana__container{
    width: 90%;
    margin: auto;    

    #btn__add__camphana{
        float: right;
        background-color: #0839a1;
        color: white;
        padding: 1rem 2rem;
        border: none;
        border-radius: 1rem;
        cursor: pointer;
        outline: none;            
    }
    #btn__add__camphana:hover{
        background-color:#5282dd;
    }
} 